<% if @user %>
  <p>Sorry. There was an error when entering your email or password.</p>

  <%= form_for(:user, url: sessions_path) do |f| %>
    <%= render partial: "sessions/signin_form", locals: {f: f} %>
    <%= f.submit %>
  <% end %>

<% else %>
  <h1>Login</h1>
  <%= form_for(:user, url: sessions_path) do |f| %>
    <%= render partial: "sessions/signin_form", locals: {f: f} %>
    <%= f.submit %>
  <% end %>

<%  end %>
